---
interface Props {
  text: string;
  dataID?: string;
  hasIcon?: boolean;
  image?: string;
  altImage?: string;
  className?: string;
}

const { image, altImage, text, dataID, className, hasIcon } = Astro.props;
let colorText = hasIcon ? "text-moderate-blue" : "text-white";
---

<button
  data-id={dataID}
  type="button"
  class=`flex justify-center items-center gap-1.5 border-0 select-none focus:outline-none ${className}`>
  {hasIcon && <img src={image} alt={altImage} />}
  <span class=`font-medium ${colorText}`>{text}</span>
</button>

<style>
  button > * {
    pointer-events: none;
  }
</style>
